.boards {
  margin: 30px;

  .boards_section {
    margin-bottom: 20px;

    .boards_section_heading {
      margin: 0 0 20px;
    }

    .boards_list {
      display: flex;
      flex-wrap: wrap;

      .board_tile {
        height: 200px;
        width: 300px;
        background-color: var(--red-1);
        padding: 20px;
        margin: 0 20px 20px 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        border-radius: 5px;

        p {
          margin-top: 5px;
          color: var(--gray-7);
          font-size: 0.9rem;
        }

        .shared {
          position: relative;
          margin-top: 5px;

          a {
            display: inline-block;
            border-radius: 50%;
            color: white;
            font-size: 0.8rem;
            padding: 4px 8px;
            margin-right: 2px;

            &.shared_plus {
              padding: 4px 6px;
            }
          }
        }
      }
    }
  }
}
