// @import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700,800,900&display=swap");

html {
  overflow-x: hidden;
  --noto-sans: "Noto Sans", sans-serif;
  --primary-color: rgb(8, 154, 227);
  background-color: white;
  font-size: 14px;
}

*,
*::before,
*::after {
  font-family: var(--noto-sans);
  box-sizing: border-box;
  margin: 0;
}

.button {
  display: block;
  background-color: var(--gray-9);
  color: white;
  padding: 10px 25px;
  border-radius: 10px;
  cursor: pointer;

  &.button_larger {
    padding: 15px 45px;
  }

  &.button_lighter {
    background-color: white;
    color: var(--gray-9);
    border: 1px solid var(--gray-9);
  }
}

.name_avatar {
  font-size: 0.85rem;
  padding: 7px;
  background-color: var(--blue-7);
  border-radius: 5px;
  color: white;
  text-align: center;
}

a {
  text-decoration: none;
  padding: 0;
  color: var(--gray-9);
}

h6 {
  font-size: 1rem;
}

p {
  font-weight: normal;
  font-size: 0.85rem;
  color: var(--gray-6);
}
