@import "globals";

html {
  overflow-x: hidden;
  --noto-sans: "Noto Sans", sans-serif;
  --primary-color: rgb(8, 154, 227);
  background-color: white;
  font-size: 14px;
}

*,
*::before,
*::after {
  font-family: var(--noto-sans);
  box-sizing: border-box;
  margin: 0;
}

.button {
  display: block;
  background-color: var(--gray-9);
  color: white;
  padding: 10px 25px;
  border-radius: 10px;
  font-size: 16px;
  border: none;

  cursor: pointer;

  &.button_larger {
    padding: 15px 45px;
  }

  &.button_lighter {
    background-color: white;
    color: var(--gray-9);
    border: 1px solid var(--gray-9);
  }
}

.name_avatars {
  display: flex;

  .name_avatar {
    position: relative;
    left: -8px;
    background-color: white;
    height: 30px;
    width: 30px;
    display: grid;
    place-items: center;
    border-radius: 50%;

    &:first-of-type {
      left: 0;
    }

    span {
      display: block;
      background-color: var(--blue-6);
      font-size: 0.85rem;
      color: white;
      height: 25px;
      width: 25px;
      display: grid;
      place-items: center;
      border-radius: 50%;
    }
  }
}

a {
  text-decoration: none;
  padding: 0;
  color: var(--gray-9);
}

h6 {
  font-size: 1rem;
}

p {
  font-weight: normal;
  font-size: 0.85rem;
  color: var(--gray-6);
}
