.header {
  display: flex;
  background-color: white;
  padding: 10px 20px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eeeeef;

  .header_menu {
    display: flex;

    .header_menu_item {
      margin-left: 20px;

      .header_sub_menu_item {
        display: block;
        margin: 5px 0;
      }
    }
  }
}
