.board {
  height: 100vh;
  overflow: hidden;
  position: relative;

  display: flex;
  flex-direction: row-reverse;

  .board_main_sidebar {
    position: relative;
  }

  .board_body {
    flex-grow: 1;
    overflow: hidden;
    width: 100%;
    margin: 30px 30px 5px;
    display: flex;
    flex-direction: column;

    .board_header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 30px;

      .board_headers_left {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h5 {
          margin-right: 10px;
        }
      }

      .board_headers_right {
        display: flex;
        align-items: center;
        justify-content: space-between;

        button {
          margin: 0 10px;
        }

        p {
          font-size: 0.75rem;
        }
      }
    }

    .board_lists {
      flex-grow: 1;
      display: flex;
      overflow-x: auto;
      overflow-y: hidden;
      padding-bottom: 30px;

      .board_list {
        flex-shrink: 0;
        background-color: var(--gray-2);
        border-radius: 5px;
        width: 300px;
        height: 100%;
        margin-right: 10px;

        display: flex;
        flex-direction: column;

        .board_list_header {
          margin: 15px;
          display: flex;
          align-items: center;
          justify-content: space-between;

          .board_list_header_function {
            display: flex;
            align-items: center;
            justify-content: space-between;

            svg {
              margin-left: 10px;
            }
          }
        }

        .add_card {
          text-align: center;
          padding: 10px 0;
          border: 1px dashed #a9a9a6;
          margin: 15px;
        }

        .board_cards {
          margin: 0 15px;
          flex-grow: 1;
          overflow-y: scroll;

          .board_list_card {
            margin: 0px 0 10px 0;
            padding: 10px;
            background-color: white;
            border-radius: 5px;
            cursor: pointer;

            .card_header {
              display: flex;
              justify-content: space-between;
              align-items: center;
              margin-bottom: 10px;

              .card_tags {
                display: flex;
                flex-wrap: wrap;

                a {
                  font-size: 0.75rem;
                  padding: 2px 5px;
                  border: 1px dotted var(--gray-5);
                  margin: 0 5px 5px 0;
                  border-radius: 3px;
                }
              }
            }

            .card_bottom_bar {
              margin: 5px 0 0;
              display: flex;
              justify-content: space-between;
              align-items: center;

              .card_assignees {
                .name_avatar {
                  margin-right: 5px;
                }
              }

              .card_properties {
                display: flex;
                align-items: center;

                .card_property {
                  display: flex;
                  align-items: center;

                  margin-left: 10px;
                  span {
                    margin-bottom: 3px;
                    margin-left: 5px;
                    // font-size: 12px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.card-details {
  background-color: white;
  padding: 20px 20px;
  border-radius: 5px;
}
