:root {
  --bg-color: rgb(62, 131, 192);
  --app-bar-color: rgb(40, 89, 131);
  --board-bar-color: rgb(249, 244, 205);
  --gap: 15px;
  --list-bg-color: #ebecf0;
  --border-radius: 5px;

  // --bg-color: #1789fc;
  // --app-bar-color: #296eb4;
  // --board-bar-color: #b1740f;
}
